body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(150, 23, 23, 0.472);
}

.container {
  display: flex;
  padding: 20px;

  .left-content {
    flex: 1;

    h1 {
      font-size: 30px;
      color: white;
      text-transform: capitalize;
      font-family: 300;
    }

    .search {
      padding: 10px;
      width: 200px;
      border: none;
      border: 1px solid white;
    }

    .categories {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .category {
        font-size: 20px;
        font-weight: 300;
        color: white;
        padding: 5px;
        cursor: pointer;
      }
    }
  }

  .content {
    flex: 4;

    .products {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .product {
        display: flex;
        flex-direction: column;
        width: 200px;
        padding: 10px;
        align-items: center;

        img {
          width: 250px;
          height: 200px;
          object-fit: contain;
        }
        .name {
          font-weight: 700;
          text-transform: capitalize;
          color: white;
        }
        .text {
          font-weight: 500;
          font-style: italic;
          text-transform: capitalize;
          color: rgba(255, 255, 255, 0.675);
        }
      }
    }
  }
}
