* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  font-family: 'Poppins', cursive;
  background: rgb(212, 156, 156);
}

.questions {
  .section-center {
    width: 90vw;
    margin: 50px auto 0;
    max-width: 620px;

    .question {
      background: white;
      border-radius: 0.5rem;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      padding: 1.5rem 1.5rem;
      margin-bottom: 2rem;

      .question-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          margin-bottom: 1.5rem;
          color: yellowgreen;
          font-weight: bolder;
        }

        .question-btn {
          font-size: 1.5rem;
          background: transparent;
          border-color: transparent;
          cursor: pointer;
          color: yellowgreen;

          .minus-icon {
            display: none;
          }

          .show-minus-icon {
            // this is toggle class using javaScript
            display: inline;
          }

          .show-plus-icon {
            // this is toggle class using javaScript
            display: none;
          }
        }
      }

      .question-text {
        padding: 1rem 0 1.5rem 0;
        border-top: 1px solid gray;
        display: none;
      }

      .show-text {
        // this is toggle class using javaScript
        display: block;
      }
    }
  }
}
