body {
  background-color: rgba(59, 108, 124, 0.998);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.container {
  background-color: rgba(29, 149, 189, 0.9);
  width: 800px;
  height: 500px;
  position: relative;

  .game {
    // display: none;
    .content {
      padding: 50px;

      .question {
        font-size: 40px;
        color: white;
        text-transform: capitalize;
      }

      .answers {
        .answer {
          font-size: 24px;
          color: white;
          cursor: pointer;
        }
      }
    }
    .submit {
      padding: 20px;
      background-color: gray;
      border: none;
      font-size: 24px;
      color: white;
      text-transform: capitalize;
      width: 100%;
      cursor: pointer;
      position: absolute;
      bottom: 0;
    }
  }
  .result-container {
    display: none;
    padding: 50px;
    text-align: center;

    h1 {
      font-size: 40px;
      color: white;
      text-transform: capitalize;
    }

    .correct {
      font-size: 24px;
      color: green;
      text-transform: capitalize;
    }

    .wrong {
      font-size: 24px;
      color: red;
      text-transform: capitalize;
    }

    .score {
      font-size: 24px;
      color: rgba(255, 255, 255, 0.609);
      text-transform: capitalize;
    }

    .play {
      padding: 25px 35px;
      background-color: gray;
      border: none;
      font-size: 24px;
      font-weight: bold;
      border-radius: 12px;
      cursor: pointer;
    }
  }
}
